<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{96,0},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,0},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{288,0},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,0},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,96},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{96,96},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,96},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{288,96},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,96},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,192},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{96,192},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,192},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{288,192},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,192},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,288},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{96,288},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,288},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{288,288},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,288},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>anim.png</string>
				<key>textureFileName</key>
				<string>anim</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
